include navbar.pug
.nav_header
    a(href="/") Главная страница/
    a(href="/mailing") Отслеживание
    h1.header_ser Отслеживание
    form.form-horizontal(role="form" method="post" action="/mailing/search-mail" class="form_mailing")
        .form-group
            label.col-md-3.control-label(for="serial_number") Номер отправления
            .form-send-group
                input#heading(name="serial_number")
                button#btn-signup.btn.btn-info(type="submit") Поиск
    .info_about_mailing
        p(style="text-align:center;").message= message
        if data.length
            each item in data
                .info_mailing
                    p Серийный номер:&nbsp;
                        =item.serial_number
                    p &nbsp; Статус:&nbsp;
                        =item.status
                    p  &nbsp; Дата обновления:&nbsp;
                        =item.date
    h1 Тарифы
    table
        tr
            td(class="first") №
            td Виды почтовых отправлений
            td(class="last") Стоимость с НДС, в рублях
        tr
            td 1
            td Простое письмо вес до 20г
            td 27,60
        tr
            td 2
            td Заказное письмо вес до 20г
            td 64,80
        tr
            td 3
            td Письмо с объявленной ценностью весом до 20г
            td 135,60
        tr
            td 4
            td Простой бандероли весом 100г
            td 48
        tr
            td 5
            td Заказной бандероли весом 100г
            td 84
        tr
            td 6
            td За каждые последующие полные и неполные 20г веса письма простого(ой), заказного(ой) письма бандероли
            td 3,60
        tr
            td 7
            td За каждые последующие полные и неполные 20г веса письма с объявленной ценностью
            td 3,60
        tr
            td 8
            td Плата за объявленную ценность письма: за каждый полный или неполный рубль оценочной стоимостью
            td 0,04
        tr
            td 9
            td Пересылка бандероли с объявленной ценностью. Плата за каждые полные или неполные 500г веса бандероли с объявленной ценностью в зависимости от расстояния пересылки
            td
        tr
            table
                    tbody
                        tr
                            td
                                td № тарифного пояса
                                td Расстояние пересылки
                            td(class="last")
                        tr
                            td(class="first")
                                td 1
                                td До 600км
                                td 135,60
                        tr
                            td(class="first")
                                td 2
                                td От 601км до 2000км
                                td 144
                        tr
                            td(class="first")
                                td 3
                                td От 2001км до 5000 км
                                td 162
                        tr
                            td(class="first")
                                td 4
                                td От 5001км до 8000км
                                td 174
                        tr
                            td(class="first")
                                td 5
                                td Свыше 8000км
                                td 198
        tr
            table
                tbody
                    tr
                        td 10
                        td Возврат, отправка по новому адресу взимается по тарифу номинальной единицы корреспонденции




