include navbar.pug
.block_main_content
img.desktop(src="./../images/ecronos.png" alt="")
.block_main_content_info
      | ООО "Экронос" - мы обеспечиваем информационно-расчетное обслуживание предприятий жилищно-коммунального хозяйства.
      | Мы обладаем компетентностью при осуществлении деятельности по проектированию, техническому обслуживанию, монтажу, ремонту, пусконаладочным работам в области энергетики, в том числе по построению многоуровневых АСКУЭ. Мы осуществляем оперативную печать и доставку квитанций.
