include navbar.pug
#mainform.container.col-sm-12
    #signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style=" margin-top:50px")
        .panel.panel-info
            .panel-heading
                .panel-title Добавление новости
            .panel-body
                form.form-horizontal(role="form" method="post" action="/adminlogin/add-news/add-new" enctype="multipart/form-data")
                    .form-group
                        label.col-md-3.control-label(for="heading") Название
                        .col-sm-9
                            textarea#heading.editor(name="heading" contenteditable="")
                    .form-group
                        label.col-md-3.control-label(for="description") Описание
                        .col-sm-9
                            textarea#description(name="description")
                    .form-group
                        label.col-md-3.control-label(for="en_heading") Название на английском
                        .col-sm-9
                            textarea#en_heading(name="en_heading")
                    .form-group
                        label.col-md-3.control-label(for="en_description") Описание на английском
                        .col-sm-9
                            textarea#en_description(name="en_description")
                    .form-group
                        label.col-md-3.control-label(for="start") Дата добавления
                        .col-sm-9
                            input#start(type="date" name="dateAdd" max="2100-12-31")
                    .form-group
                        label.col-md-3.control-label(for="profile") Изображение
                        .col-sm-9
                            input.form-control#profile(type="file" name="profile" accept="")
                    .form-group
                        .col-md-offset-3.col-md-9
                            button#btn-signup.btn.btn-info(type="submit")
                                i.icon-hand-right
                                |  &nbsp Загрузка
