doctype html
html
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css" integrity="sha512-zzq8ZrbhP7DGbwClbqSYuo+di3FvAlMNykCKWE6pHuqmCgGjJSISDTzy7QkdI2ajLlgw0nx6hxIu8os2hYuN8w==" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/adminlogin.css")
body
    .content
        .content_login
            h2 Авторизация
            form(method="post" action="/adminlogin/login")
                table
                    tr
                        td Логин
                        td
                            input(type="text" name="username" placeholder="Логин")
                    tr
                        td Пароль
                        td
                            input(type="password" name="password" placeholder="Пароль")
                    tr
                        td
                        td
                            input(type="submit" value="Войти")
