.sample-toolbar
    a(href='javascript:void(0)' onclick="format('bold')")
        span.fa.fa-bold.fa-fw
    a(href='javascript:void(0)' onclick="format('italic')")
        span.fa.fa-italic.fa-fw
    a(href='javascript:void(0)' onclick="format('underline')")
        span.fas.fa-underline
    a(href='javascript:void(0)' onclick="format('insertunorderedlist')")
        span.fa.fa-list.fa-fw
