include  ./ru/navbar.pug
.content
    .content_desktop
        img(src="../images/index/backgrounds/main-site-icons-1200.png" alt="" usemap="#Navigation")
        p
            map(name="Navigation")
                area( title="Печать" coords="186,202,80" shape="circle" href="/#" alt="info")
                area( title="Печать книг по требованию" coords="568,134,85" shape="circle" href="/#" alt="info")
                area( title="Лицензия и сертификаты" coords="810,160,85" shape="circle" href="/#" alt="info")
                area( title="Электронные архивы" coords="1014,255,65" shape="circle" href="/#" alt="info")
                area( title="Проверка приборов учёта" coords="1185,143,80" shape="circle" href="/#" alt="info")
                area( title="АСКУЭ" coords="326,261,60" shape="circle" href="/#" alt="info")
                area( title="АСКУЭ" coords="385,403,60" shape="circle" href="/#" alt="info")
                area( title="АСКУЭ" coords="476,283,50" shape="circle" href="/#" alt="info")
                area( title="Бизнес для физических лиц" coords="142,415,85" shape="circle" href="/#" alt="info")
                area( title="Водяные приборы учёта" coords="363,568,68" shape="circle" href="/#" alt="info")
                area( title="Обработка баз данных" coords="646,328,68" shape="circle" href="/#" alt="info")
                area( title="Email-рассылка" coords="580,500,80" shape="circle" href="/#" alt="info")
                area( title="Курьерская доставка" coords="740,470,40" shape="circle" href="/#" alt="info")
                area( title="Бизнес для бизнеса" coords="855,350,80" shape="circle" href="/#" alt="info")
                area( title="Печать квитанций" coords="888,550,80" shape="circle" href="/#" alt="info")
                area( title="Курьерская доставка" coords="1118,468,80" shape="circle" href="/#" alt="info")
                area( title="Call-центр" coords="1340,322,68" shape="circle" href="/#" alt="info")
    .content_phone
        img(src="../images/index/backgrounds/m_main-site-icons-930.png" alt="" usemap="#Navigation")
        p
            map(name="Navigation")
                area( title="Печать" coords="186,202,80" shape="circle" href="/#" alt="info")
                area( title="Печать книг по требованию" coords="568,134,85" shape="circle" href="/#" alt="info")
                area( title="Лицензия и сертификаты" coords="810,160,85" shape="circle" href="/#" alt="info")
                area( title="Электронные архивы" coords="1014,255,65" shape="circle" href="/#" alt="info")
                area( title="Проверка приборов учёта" coords="1185,143,80" shape="circle" href="/#" alt="info")
                area( title="АСКУЭ" coords="326,261,60" shape="circle" href="/#" alt="info")
                area( title="АСКУЭ" coords="385,403,60" shape="circle" href="/#" alt="info")
                area( title="АСКУЭ" coords="476,283,50" shape="circle" href="/#" alt="info")
                area( title="Бизнес для физических лиц" coords="142,415,85" shape="circle" href="/#" alt="info")
                area( title="Водяные приборы учёта" coords="363,568,68" shape="circle" href="/#" alt="info")
                area( title="Обработка баз данных" coords="646,328,68" shape="circle" href="/#" alt="info")
                area( title="Email-рассылка" coords="580,500,80" shape="circle" href="/#" alt="info")
                area( title="Курьерская доставка" coords="740,470,40" shape="circle" href="/#" alt="info")
                area( title="Бизнес для бизнеса" coords="855,350,80" shape="circle" href="/#" alt="info")
                area( title="Печать квитанций" coords="888,550,80" shape="circle" href="/#" alt="info")
                area( title="Курьерская доставка" coords="1118,468,80" shape="circle" href="/#" alt="info")
                area( title="Call-центр" coords="1340,322,68" shape="circle" href="/#" alt="info")


