.form-send-group{
    display: flex;
    flex-direction: row;
}
.form-send-group input{
    padding: 10px;
    width: 300px;
}
.form-send-group button{
    background-color: #095A90;
    color: white;
}
.info_about_mailing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.info_mailing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
table{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
tr{
    width: 20px;
}
td{
    padding: 6px;
}
.first{
    width: 3.5%;
}
.last{
    width: 13.25%;
}
h1{
    /*text-align: center;*/
}
@media (max-width:1100px) {
    .form-send-group input{
        padding: 10px;
        width: 200px;
    }
}
