include  ./ru/navbar.pug
.content_main-page
    .content
        .element1_print(class="inner-block_container")
            p
                a(href="/services")
                    p(data-tooltip="Печать")
                        img(src="../images/index/svg/print_150 1.svg")
                    hr(class="hr_el1_top")
                    hr(class="hr_el1_medium")
                    hr(class="hr_el1_bottom")
        .element2_b2c(class="inner-block_container")
            p(data-tooltip="Бизнес для физических лиц")
                a(href="/services")
                    img(src="../images/index/svg/b2c_150 1.svg")
                    hr(class="hr_el2_bottom")
        .element3_askue1
            p(data-tooltip="АСКУЭ")
                a(href="/services")
                    img(src="../images/index/svg/schetchik3_100 1.svg")
                    hr(class="hr_el3_top")
                    hr(class="hr_el3_medium")
                    hr(class="hr_el3_bottom")
        .element4_askue2
            p(data-tooltip="АСКУЭ")
                a(href="/services")
                    img(src="../images/index/svg/schetchik4_150 1.svg")
        .element5_askue3
            p(data-tooltip="АСКУЭ")
                a(href="/services")
                    img(src="../images/index/svg/gsm_100 1.svg")
                    hr(class="hr_el5_top")
                    hr(class="hr_el5_medium_left")
                    hr(class="hr_el5_medium_right")
                    hr(class="hr_el5_bottom")
        .element6_aqua(class="inner-block_container")
            p(data-tooltip="Водяные приборы учёта")
                a(href="/services")
                    img(src="../images/index/svg/voda_150 1.svg")
                    hr(class="hr_el6_medium_left")
                    hr(class="hr_el6_medium_right")
        .element7_email(class="inner-block_container")
            p(data-tooltip="Email-рассылка")
                a(href="/services")
                    img(src="../images/index/svg/pismo_150 1.svg")
                    hr(class="hr_el7_top")
                    hr(class="hr_el7_top_left")
                    hr(class="hr_el7_medium_right")
                    hr(class="hr_el7_bottom")
        .element8_bd(class="inner-block_container")
            p(data-tooltip="Обработка баз данных")
                a(href="/services")
                    img(src="../images/index/svg/nout2_150 1.svg")
                    hr(class="hr_el8_top")
                    hr(class="hr_el8_medium_left")
                    hr(class="hr_el8_medium_right")
        .element9_book(class="inner-block_container")
            p(data-tooltip="Печать книг по требованию")
                a(href="/services")
                    img(src="../images/index/svg/knigi_150 1.svg")
                    hr(class="hr_el9_top")
                    hr(class="hr_el9_medium_left")
                    hr(class="hr_el9_medium_right")
                    hr(class="hr_el9_bottom")
        .element10_license(class="inner-block_container")
            p(data-tooltip="Лицензия и сертификаты")
                a(href="/services")
                    img(src="../images/index/svg/zashchita_150 1.svg")
                    hr(class="hr_el10_top")
                    hr(class="hr_el10_top_left")
                    hr(class="hr_el10_medium_left")
                    hr(class="hr_el10_bottom_left")
                    hr(class="hr_el10_bottom")
        .element11_b2b(class="inner-block_container")
            p(data-tooltip="Бизнес для бизнеса")
                a(href="/services")
                    img(src="../images/index/svg/b2b_150 1.svg")
                    //hr
        .element12_courier_delivery
            p(data-tooltip="Курьерская доставка")
                a(href="/services")
                    img(src="../images/index/svg/pochta_100 1.svg")
                    hr(class="hr_el12_top_left")
                    hr(class="hr_el12_top_right")
                    hr(class="hr_el12_medium")
                    hr(class="hr_el12_bottom")
        .element13_print_kvitantion(class="inner-block_container")
            p(data-tooltip="Печать квитанций")
                a(href="/services")
                    img(src="../images/index/svg/kvitki_150 1.svg")
                    hr(class="hr_el13_top")
                    hr(class="hr_el13_top_right")
        .element14_delivery(class="inner-block_container")
            p(data-tooltip="Доставка грузов")
                a(href="/services")
                    img(src="../images/index/svg/dostavka_150 1.svg")
                    hr(class="hr_el14_top")
                    hr(class="hr_el14_medium")
                    hr(class="hr_el14_bottom")
        .element15_archive(class="inner-block_container")
            p(data-tooltip="Электронные архивы")
                a(href="/services")
                    img(src="../images/index/svg/nout_150 1.svg")
                    hr(class="hr_el15_medium")
        .element16_phone
            p(data-tooltip="Колл-центр")
                a(href="/services")
                    img(src="../images/index/svg/telefon_100 1.svg")
        .element17_uchet(class="inner-block_container")
            p(data-tooltip="Проверка приборов учёта")
                a(href="/services")
                    img(src="../images/index/svg/schetchik_150 1.svg")
                    hr(class="hr_el17_top")
                    hr(class="hr_el17_medium")
                    hr(class="hr_el17_bottom")
