html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Ecronos
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..")
        script(src="https://code.jquery.com/jquery-1.6.min.js" integrity="sha256-5Y2lizFMze76PEhltLiqMVPokNeQTgRINIHY//LCfqo=" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/client/index/index.css")
        link(rel="stylesheet" href="/stylesheets/client/navbar/style.css")
        link(rel="stylesheet" href="/stylesheets/client/news/card_news.css")
        link(rel="stylesheet" href="/stylesheets/client/news/news.css")
        link(rel="stylesheet" href="/stylesheets/client/contacts/contacts.css")
        link(rel="shortcut icon" type="image/png" href="/images/index/favicon.png")
    include navbar.pug
    .nav_en_header
        a(href="/") Main page/
        a(href="/en/contacts") Contacts
        h1.header_ser Contacts
        .block_content
            .content_info_left
                .content_info_left_info
                    .content_info_left_info_header
                        p.content_info_left_info_header_text c. Reutov
                        p.content_info_left_info_header_text(style="margin-top: -10px") Nosovikhinskoe highway, 17B
                        .content_info_header_footer
                        p.content_info_left_info_header_underline
                    .content_info_medium_footer
                        p
                        img(src="./../images/contacts/telegram.png" alt="" style="width: 20px")
                        p
                        img(src="./../images/contacts/whatsapp.png" alt="" style="width: 20px")
                        p
                        img(src="./../images/contacts/viber.png" alt="" style="width: 20px")
                        a(href="tel:+79855840854" style="font-size:16px;") +7 (985) 584-08-54
                    .content_info_bottom_footer
                        a(href="mailto:office@ekronos.ru" style="font-size:16px;") e-mail: office@ekronos.ru
            .content_info_right
                .content_info_right_info_header
                    p.content_info_left_info_header_text c. Nizhny Novgorod
                    p.content_info_left_info_header_text(style="margin-top: -10px") 59E Gordeevskaya St.
                    p.content_info_right_info_header_underline
                    .content_info_right_medium_footer
                        p
                        img(src="./../images/contacts/telegram.png" alt="" style="width: 20px")
                        p
                        img(src="./../images/contacts/whatsapp.png" alt="" style="width: 20px")
                        p
                        img(src="./../images/contacts/viber.png" alt="" style="width: 20px")
                        a(href="tel:+79308108204" style="font-size:16px;") +7 (930) 810-82-04
                    .content_info_right_bottom_footer
                        a(href="mailto:nn.office@ekronos.ru" style="font-size:16px;") e-mail: nn.office@ekronos.ru
            .content_info_left
                .content_info_left_info
                    .content_info_left_info_header
                        p.content_info_left_info_header_text c. Simferopol
                            p.content_info_left_info_header_text(style="margin-top: -10px") st. Generala Vasilyeva, 44A
                            .content_info_header_footer
                            p.content_info_left_info_header_underline
                        .content_info_medium_footer
                            p
                            img(src="./../images/contacts/telegram.png" alt="" style="width: 20px")
                            p
                            img(src="./../images/contacts/whatsapp.png" alt="" style="width: 20px")
                            p
                            img(src="./../images/contacts/viber.png" alt="" style="width: 20px")
                            a(href="tel:+79891237171" style="font-size:16px;") +7 (989) 123-71-71
                        .content_info_bottom_footer
                            a(href="mailto:office@ekronos.ru" style="font-size:16px;") e-mail: rk.office@ekronos.ru
            .content_info_right
                .content_info_right_info_header
                    p.content_info_left_info_header_text c. Veliky Novgorod
                    p.content_info_left_info_header_text(style="margin-top: -10px") 22 Velikaya St., building 10
                    p.content_info_right_info_header_underline
                    .content_info_right_medium_footer
                        p
                        img(src="./../images/contacts/telegram.png" alt="" style="width: 20px")
                        p
                        img(src="./../images/contacts/whatsapp.png" alt="" style="width: 20px")
                        p
                        img(src="./../images/contacts/viber.png" alt="" style="width: 20px")
                        a(href="tel:+79855840854" style="font-size:16px;") +7 (985) 584-08-54
                    .content_info_right_bottom_footer
                        a(href="mailto:office@ekronos.ru" style="font-size:16px;") e-mail: office@ekronos.ru
