html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Ecronos
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..")
        script(src="https://code.jquery.com/jquery-1.6.min.js" integrity="sha256-5Y2lizFMze76PEhltLiqMVPokNeQTgRINIHY//LCfqo=" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/client/index/index.css")
        link(rel="stylesheet" href="/stylesheets/client/index/index_svg.css")
        link(rel="stylesheet" href="/stylesheets/client/navbar/style.css")
        link(rel="stylesheet" href="/stylesheets/client/news/card_news.css")
        link(rel="stylesheet" href="/stylesheets/client/news/news.css")
        link(rel="stylesheet" href="/stylesheets/client/services/services.css")
        link(rel="stylesheet" href="/stylesheets/client/contacts/contacts.css")
        link(rel="stylesheet" href="/stylesheets/client/news/show-news.css")
        link(rel="stylesheet" href="/stylesheets/client/about_company/o-kompanii.css")
        link(rel="stylesheet" href="/stylesheets/client/mailing/mailing.css")
        link(rel="shortcut icon" type="image/png" href="/images/index/favicon.png")
    include navbar.pug
    .content_main-page
        .content
            .element1_print(class="inner-block_container block-size_3")
                p
                    a(href="/services")
                        p(data-tooltip="Print")
                            img(src="../images/index/svg/print_150 1.svg")
                        hr(class="hr_el1_top")
                        hr(class="hr_el1_medium")
                        hr(class="hr_el1_bottom")
            .element2_b2c(class="inner-block_container block-size_3")
                p(data-tooltip="Business for individuals")
                    a(href="/services")
                        img(src="../images/index/svg/b2c_150 1.svg")
                        hr(class="hr_el2_bottom")
            .element3_askue1(class="block-size_2")
                p(data-tooltip="ASKUE")
                    a(href="/services")
                        img(src="../images/index/svg/schetchik3_100 1.svg")
                        hr(class="hr_el3_top")
                        hr(class="hr_el3_medium")
                        hr(class="hr_el3_bottom")
            .element4_askue2(class="block-size_2")
                p(data-tooltip="ASKUE")
                    a(href="/services")
                        img(src="../images/index/svg/schetchik4_150 1.svg")
                        //hr
            .element5_askue3(class="block-size_1")
                p(data-tooltip="ASKUE")
                    a(href="/services")
                        img(src="../images/index/svg/gsm_100 1.svg")
                        hr(class="hr_el5_top")
                        hr(class="hr_el5_medium_left")
                        hr(class="hr_el5_medium_right")
                        hr(class="hr_el5_bottom")
            .element6_aqua(class="inner-block_container block-size_4")
                p(data-tooltip="Water meters")
                    a(href="/services")
                        img(src="../images/index/svg/voda_150 1.svg")
                        hr(class="hr_el6_medium_left")
                        hr(class="hr_el6_medium_right")
            .element7_email(class="inner-block_container block-size_3")
                p(data-tooltip="Email")
                    a(href="/services")
                        img(src="../images/index/svg/pismo_150 1.svg")
                        hr(class="hr_el7_top")
                        hr(class="hr_el7_top_left")
                        hr(class="hr_el7_medium_right")
                        hr(class="hr_el7_bottom")
            .element8_bd(class="inner-block_container block-size_2")
                p(data-tooltip="Database Processing")
                    a(href="/services")
                        img(src="../images/index/svg/nout2_150 1.svg")
                        hr(class="hr_el8_top")
                        hr(class="hr_el8_medium_left")
                        hr(class="hr_el8_medium_right")
            .element9_book(class="inner-block_container block-size_3")
                p(data-tooltip="Print books on demand")
                    a(href="/services")
                        img(src="../images/index/svg/knigi_150 1.svg")
                        hr(class="hr_el9_top")
                        hr(class="hr_el9_medium_left")
                        hr(class="hr_el9_medium_right")
                        hr(class="hr_el9_bottom")
            .element10_license(class="inner-block_container block-size_3")
                p(data-tooltip="License and certificates")
                    a(href="/services")
                        img(src="../images/index/svg/zashchita_150 1.svg")
                        hr(class="hr_el10_top")
                        hr(class="hr_el10_top_left")
                        hr(class="hr_el10_medium_left")
                        hr(class="hr_el10_bottom_left")
                        hr(class="hr_el10_bottom")
            .element11_b2b(class="inner-block_container block-size_3")
                p(data-tooltip="Business for Business")
                    a(href="/services")
                        img(src="../images/index/svg/b2b_150 1.svg")
                        //hr
            .element12_courier_delivery(class="block-size_1")
                p(data-tooltip="Courier delivery")
                    a(href="/services")
                        img(src="../images/index/svg/pochta_100 1.svg")
                        hr(class="hr_el12_top_left")
                        hr(class="hr_el12_top_right")
                        hr(class="hr_el12_medium")
                        hr(class="hr_el12_bottom")
            .element13_print_kvitantion(class="inner-block_container block-size_3")
                p(data-tooltip="Receipts printing")
                    a(href="/services")
                        img(src="../images/index/svg/kvitki_150 1.svg")
                        hr(class="hr_el13_top")
                        hr(class="hr_el13_top_right")
            .element14_delivery(class="inner-block_container block-size_3")
                p(data-tooltip="Delivery of goods")
                    a(href="/services")
                        img(src="../images/index/svg/dostavka_150 1.svg")
                        hr(class="hr_el14_top")
                        hr(class="hr_el14_medium")
                        hr(class="hr_el14_bottom")
            .element15_archive(class="inner-block_container block-size_2")
                p(data-tooltip="Electronic archives")
                    a(href="/services")
                        img(src="../images/index/svg/nout_150 1.svg")
                        hr(class="hr_el15_medium")
            .element16_phone(class="block-size_3")
                p(data-tooltip="Call-center")
                    a(href="/services")
                        img(src="../images/index/svg/telefon_100 1.svg")
            .element17_uchet(class="inner-block_container block-size_3")
                p(data-tooltip="Verification of metering devices")
                    a(href="/services")
                        img(src="../images/index/svg/schetchik_150 1.svg")
                        hr(class="hr_el17_top")
                        hr(class="hr_el17_medium")
                        hr(class="hr_el17_bottom")
