html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Ecronos
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..")
        script(src="https://code.jquery.com/jquery-1.6.min.js" integrity="sha256-5Y2lizFMze76PEhltLiqMVPokNeQTgRINIHY//LCfqo=" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/client/index/index.css")
        link(rel="stylesheet" href="/stylesheets/client/navbar/style.css")
        link(rel="stylesheet" href="/stylesheets/client/news/card_news.css")
        link(rel="stylesheet" href="/stylesheets/client/news/news.css")
        link(rel="stylesheet" href="/stylesheets/client/about_company/o-kompanii.css")
        link(rel="shortcut icon" type="image/png" href="/images/index/favicon.png")
    include navbar.pug
    .block_main_content_info
      Ecronos LLC - we provide information and settlement services to housing and utilities companies.
      We are competent in design, maintenance, installation, repair and commissioning activities in the energy sector, including the construction of multi-level ASKUEs. We carry out operative printing and delivery of receipts.
