* {
    box-sizing: border-box;
}

body {
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #095A90;
}

::-webkit-scrollbar {
    width: 0;
}

.content {
    display: grid;
    position: relative;
    padding: 5rem;
    grid-template-rows: repeat(8, 12.5%);
    grid-template-areas: ' . . . . . book book . license license license . uchet uchet . .  ' /*2*/ '. . print . . book book . license license license  archive . . . .  ' /*3*/ '. . print askue1 .  askue3  . bd . b2b b2b archive . . phone phone ' /*4*/ 'b2c b2c b2c . askue2 askue3  . bd . b2b b2b archive  delivery . phone phone ' /*5*/ 'b2c b2c b2c . askue2 .  email email courier_delivery . print_kvitantion print_kvitantion delivery . . . ' /*6*/ '. . . . aqua aqua aqua . . . print_kvitantion print_kvitantion . . . . ' ' . . . . . . . . .  . .  . . . . .  '
}

.content img {
    border-radius: 50%;
}

.content img:hover, hr:hover {
    border-radius: 50%;
    border-bottom: 1px solid whitesmoke;
    -moz-box-shadow: 0 0 30px white;
    -webkit-box-shadow: 0 0 30px white;
    box-shadow: 0 0 30px white;
}
hr{
    position: absolute;
    z-index: 0;
    background-color: whitesmoke;
    border: none;
    height: 1.5px;

}

.inner-block_container a img {
    transition-duration: 1s;
}
.inner-block_container a img:hover {
    top: 10%;
    transition-duration: 1s;
}

.element1_print {
    transition-duration: 1s;
    grid-area: print;
}

.hr_el1_top {
    width: 200px;
    transform: rotate(-45deg);
    top: 132px;
    left: 180px;
}

.hr_el1_bottom {
    width: 85px;
    transform: rotate(95deg);
    top: 340px;
    left: 110px;
}

.hr_el1_medium {
    top: 280px;
    left: 216px;
    width: 65px;
    transform: rotate(20deg);
}

.element2_b2c {
    grid-area: b2c;
}

.element2_b2c a img {
    transition-duration: 1s;
}

.hr_el2_bottom {
    width: 140px;
    transform: rotate(30deg);
    top: 517px;
    left: 207px;
}

.element3_askue1 {
    grid-area: askue1;
}

.hr_el3_top {
    width: 218px;
    transform: rotate(100deg);
    top: 170px;
    left: 223px;
}

.hr_el3_bottom {
    width: 85px;
    transform: rotate(150deg);
    top: 370px;
    left: 194px;
}

.hr_el3_medium {
    top: 320px;
    left: 355px;
    width: 145px;
    transform: rotate(-5deg);
}

.element4_askue2 {
    grid-area: askue2;
}

.element5_askue3 {
    grid-area: askue3;
}

.hr_el5_top {
    width: 70px;
    transform: rotate(-45deg);
    top: 370px;
    left: 460px;
}

.hr_el5_medium_left {
    width: 165px;
    transform: rotate(-10deg);
    top: 450px;
    left: 225px;
}

.hr_el5_medium_right {
    width: 195px;
    transform: rotate(20deg);
    top: 480px;
    left: 460px;
}

.hr_el5_bottom {
    width: 120px;
    transform: rotate(135deg);
    top: 510px;
    left: 320px;
}

.element6_aqua {
    grid-area: aqua;
}

.hr_el6_medium_left {
    width: 75px;
    transform: rotate(45deg);
    top: 576px;
    left: 325px;
}

.hr_el6_medium_right {
    width: 200px;
    transform: rotate(20deg);
    top: 670px;
    left: 485px;
}
.element7_email {
    grid-area: email;
}

.hr_el7_top {
    width: 140px;
    transform: rotate(-55deg);
    top: 420px;
    left: 650px;
}

.hr_el7_top_left {
    width: 310px;
    transform: rotate(173deg);
    top: 534px;
    left: 335px;
}

.hr_el7_medium_right {
    width: 70px;
    transform: rotate(173deg);
    top: 500px;
    left: 760px;
}

.hr_el7_bottom {
    width: 120px;
    transform: rotate(-75deg);
    top: 648px;
    left: 632px;
}

.element8_bd {
    grid-area: bd;
}

.hr_el8_top {
    width: 138px;
    transform: rotate(-35deg);
    top: 250px;
    left: 750px;
}

.hr_el8_medium_left {
    width: 110px;
    transform: rotate(-173deg);
    top: 345px;
    left: 570px;
}

.hr_el8_medium_right {
    width: 140px;
    transform: rotate(173deg);
    top: 345px;
    left: 790px;
}

.element9_book {
    grid-area: book;
}

.hr_el9_top {
    width: 170px;
    transform: rotate(20deg);
    top: 91px;
    left: 345px;
}

.hr_el9_bottom {
    width: 120px;
    transform: rotate(50deg);
    top: 250px;
    left: 600px;
}

.hr_el9_medium_left {
    top: 235px;
    left: 325px;
    width: 207px;
    transform: rotate(-34deg);
}

.hr_el9_medium_right {
    top: 170px;
    left: 640px;
    width: 195px;
    transform: rotate(2deg);
}

.element10_license {
    grid-area: license;
}

.hr_el10_medium_left {
    top: 140px;
    left: 960px;
    width: 290px;
    transform: rotate(-5deg);
}

.hr_el10_bottom_left {
    top: 230px;
    left: 938px;
    width: 160px;
    transform: rotate(20deg);
}

.hr_el10_bottom {
    top: 270px;
    left: 850px;
    width: 120px;
    transform: rotate(60deg);
}

.hr_el10_top {
    top: 68px;
    left: 850px;
    width: 80px;
    transform: rotate(-50deg);
}

.hr_el10_top_left {
    top: 75px;
    left: 890px;
    width: 80px;
    transform: rotate(70deg);
}

.element11_b2b {
    grid-area: b2b;
}

.element12_courier_delivery {
    grid-area: courier_delivery;
}

.hr_el12_top_left {
    width: 122px;
    transform: rotate(35deg);
    top: 430px;
    left: 730px;
}

.hr_el12_top_right {
    width: 115px;
    transform: rotate(-45deg);
    top: 450px;
    left: 865px;
}

.hr_el12_medium {
    width: 170px;
    transform: rotate(20deg);
    top: 530px;
    left: 875px;
}

.hr_el12_bottom {
    width: 245px;
    transform: rotate(133deg);
    top: 615px;
    left: 640px;
}

.element13_print_kvitantion {
    grid-area: print_kvitantion;
}

.hr_el13_top {
    width: 82px;
    transform: rotate(50deg);
    top: 445px;
    left: 980px;
}

.hr_el13_top_right {
    width: 145px;
    transform: rotate(-30deg);
    top: 480px;
    left: 1110px;
}

.element14_delivery {
    grid-area: delivery;
}

.hr_el14_top {
    width: 200px;
    transform: rotate(15deg);
    top: 400px;
    left: 1045px;
}

.hr_el14_medium {
    width: 135px;
    transform: rotate(45deg);
    top: 340px;
    left: 1150px;
}

.hr_el14_bottom {
    width: 90px;
    transform: rotate(-25deg);
    top: 360px;
    left: 1310px;
}

.element15_archive {
    grid-area: archive;
}

.hr_el15_medium {
    width: 210px;
    transform: rotate(15deg);
    top: 300px;
    left: 1195px;
}


.element16_phone {
    grid-area: phone;
}

.element17_uchet {
    grid-area: uchet;
}

.hr_el17_top {
    width: 340px;
    transform: rotate(15deg);
    top: 80px;
    left: 910px;
}

.hr_el17_medium {
    width: 63px;
    transform: rotate(-35deg);
    top: 200px;
    left: 1195px;
}

.hr_el17_bottom {
    width: 130px;
    transform: rotate(45deg);
    top: 248px;
    left: 1295px;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
    z-index: 1;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    /*width: 300px;*/
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
}

@media screen and (max-width: 1030px) {
    .nav > .nav-links {
        font-size: 40px;
    }

    .nav > .nav-links a {
        margin-top: 40px;
    }

    .title_header {
        width: 250px;
    }

    .nav > .nav-btn > label > span {
        display: block;
        margin-left: -30px;
        width: 50px;
        height: 15px;
        border-top: 2px solid #eee;
    }

    .group_social-icons a {
        width: 40px;
    }

}

@media (max-width: 1200px) {
    .top-logo-link img {
        width: 180px;
    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 11px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #095A90;
        opacity: 0.9;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
    }

    .top-logo-link img {
        top: -10px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        z-index: 1;
    }

    a {
        text-align: center;
    }
}

@media screen and (max-width: 1030px) {
    .nav > .nav-links {
        font-size: 40px;
    }

    .nav > .nav-links a {
        margin-top: 40px;
    }

    .title_header {
        width: 250px;
    }

    .nav > .nav-btn > label > span {
        display: block;
        margin-left: -30px;
        width: 50px;
        height: 15px;
        border-top: 2px solid #eee;
    }

    .group_social-icons a {
        width: 40px;
    }

}

@media (max-width: 700px) {
    .nav > .nav-links {
        font-size: 20px;
    }
}
@media (max-width: 1026px) {
    .content {
        position: absolute;
        padding-top: 35%;
        padding-bottom: 35%;
        padding-left: 0;
        grid-template-areas: '. . . . . . book book . license license . . uchet uchet . . .' /*2*/ '. print print print . . book book . license license .  archive . . . . . ' /*3*/ '. print print print askue1 .  askue3  bd bd b2b b2b b2b archive . . phone phone phone' /*4*/ 'b2c b2c b2c . . askue2 askue3  bd bd b2b b2b b2b archive  delivery delivery phone phone phone ' /*5*/ 'b2c b2c b2c . aqua aqua . email email courier_delivery . print_kvitantion print_kvitantion delivery delivery . . . ' /*6*/ '. . . . aqua aqua . . . . . print_kvitantion print_kvitantion . . . . .' /*6*/ '. . . . . . . . . . . . . . . . . .';
    }
    .content img{
        width: 105%;
    }
}
@media (max-width: 1501px) {
    .content {
        padding-left: 0;
        grid-template-areas: '. . . . . . book book . license license . . uchet uchet . . .' /*2*/ '. print print print . . book book . license license .  archive . . . . . ' /*3*/ '. print print print askue1 .  askue3  bd bd b2b b2b b2b archive . . phone phone phone' /*4*/ 'b2c b2c b2c . . askue2 askue3  bd bd b2b b2b b2b archive  delivery delivery phone phone phone ' /*5*/ 'b2c b2c b2c . aqua aqua . email email courier_delivery . print_kvitantion print_kvitantion delivery delivery . . . ' /*6*/ '. . . . aqua aqua . . . . . print_kvitantion print_kvitantion . . . . .' /*6*/ '. . . . . . . . . . . . . . . . . .';
    }
    .content img{
        width: 90%;
    }
    .element12_courier_delivery img{
        width: 50%;
    }
    hr{
        display: none;
    }
}
@media (min-width: 1610px) {
    .hr_el1_top {
        width: 280px;
        transform: rotate(-45deg);
        top: 162px;
        left: 110px;
    }
    .hr_el1_bottom {
        position: absolute;
        width: 85px;
        transform: rotate(95deg);
        top: 340px;
        left: 110px;
    }
    .hr_el1_medium {
        top: 300px;
        left: 216px;
        width: 120px;
        transform: rotate(20deg);
    }
    .hr_el3_top {
        width: 268px;
        transform: rotate(100deg);
        top: 194px;
        left: 194px;
    }
    .hr_el3_bottom {
        width: 150px;
        background-color: whitesmoke;
        transform: rotate(150deg);
        top: 370px;
        left: 194px;
    }
    .hr_el3_medium {
        top: 320px;
        left: 365px;
        width: 210px;
        transform: rotate(-5deg);
    }
    .hr_el5_top {
        width: 130px;
        transform: rotate(-45deg);
        top: 370px;
        left: 440px;
    }
    .hr_el5_medium_left {
        width: 250px;
        transform: rotate(-10deg);
        top: 430px;
        left: 200px;
    }
    .hr_el5_medium_right {
        width: 250px;
        transform: rotate(20deg);
        top: 480px;
        left: 460px;
    }
    .hr_el5_bottom {
        width: 190px;
        transform: rotate(135deg);
        top: 485px;
        left: 310px;
    }
    .hr_el6_medium_left {
        width: 120px;
        transform: rotate(45deg);
        top: 595px;
        left: 320px;
    }
    .hr_el6_medium_right {
        width: 200px;
        transform: rotate(20deg);
        top: 670px;
        left: 485px;
    }
    .hr_el7_top {
        width: 200px;
        transform: rotate(-70deg);
        top: 420px;
        left: 630px;
    }
    .hr_el7_top_left {
        width: 400px;
        transform: rotate(175deg);
        top: 534px;
        left: 335px;
    }
    .hr_el7_medium_right {
        width: 130px;
        transform: rotate(173deg);
        top: 500px;
        left: 760px;
    }
    .hr_el7_bottom {
        width: 120px;
        transform: rotate(-75deg);
        top: 648px;
        left: 632px;
    }
    .hr_el8_top {
        width: 200px;
        transform: rotate(-45deg);
        top: 250px;
        left: 750px;
    }
    .hr_el8_medium_left {
        width: 150px;
        transform: rotate(-173deg);
        top: 325px;
        left: 570px;
    }
    .hr_el8_medium_right {
        width: 200px;
        transform: rotate(180deg);
        top: 345px;
        left: 800px;
    }
    .hr_el9_top {
        width: 230px;
        transform: rotate(20deg);
        top: 102px;
        left: 345px;
    }
    .hr_el9_bottom {
        width: 160px;
        transform: rotate(50deg);
        top: 250px;
        left: 600px;

    }
    .hr_el9_medium_left {
        top: 235px;
        left: 325px;
        width: 260px;
        transform: rotate(-34deg);
    }
    .hr_el9_medium_right {
        top: 170px;
        left: 640px;
        width: 250px;
        transform: rotate(2deg);
    }
    /*Адаптировано*/
    .hr_el10_medium_left {
        top: 150px;
        left: 900px;
        width: 450px;
        transform: rotate(2deg);
    }
    /*Адаптирована*/
    .hr_el10_bottom_left {
        top: 210px;
        left: 880px;
        width: 300px;
        transform: rotate(20deg);
    }
    /*Адаптировано*/
    .hr_el10_bottom {
        top: 273px;
        left: 880px;
        width: 180px;
        transform: rotate(65deg);
    }
    /*Адаптировано*/
    .hr_el10_top {
        top: 95px;
        left: 841px;
        width: 120px;
        transform: rotate(-75deg);
    }
    .hr_el10_top_left {
        top: 75px;
        left: 890px;
        width: 80px;
        transform: rotate(70deg);
    }
    .hr_el12_top_left {
        width: 200px;
        transform: rotate(45deg);
        top: 430px;
        left: 710px;
    }
    .hr_el12_top_right {
        width: 200px;
        transform: rotate(-45deg);
        top: 400px;
        left: 850px;
    }
    .hr_el12_medium {
        width: 250px;
        transform: rotate(20deg);
        top: 530px;
        left: 860px;
    }
    .hr_el12_bottom {
        width: 300px;
        transform: rotate(135deg);
        top: 596px;
        left: 635px;
    }
    .hr_el13_top {
        width: 150px;
        transform: rotate(50deg);
        top: 445px;
        left: 980px;
    }
    .hr_el13_top_right {
        width: 300px;
        transform: rotate(-20deg);
        top: 480px;
        left: 1080px;
    }
    .hr_el14_top {
        width: 300px;
        transform: rotate(15deg);
        top: 400px;
        left: 1065px;
    }
    .hr_el14_medium {
        width: 250px;
        transform: rotate(45deg);
        top: 340px;
        left: 1150px;
    }
    .hr_el14_bottom {
        width: 150px;
        transform: rotate(-25deg);
        top: 400px;
        left: 1350px;
    }
    .hr_el15_medium {
        width: 280px;
        transform: rotate(15deg);
        top: 300px;
        left: 1205px;
    }
    /*Адаптировано*/
    .hr_el17_top {
        width: 450px;
        transform: rotate(15deg);
        top: 95px;
        left: 909px;
    }
    .hr_el17_medium {
        width: 150px;
        transform: rotate(-40deg);
        top: 200px;
        left: 1215px;
    }
    .hr_el17_bottom {
        width: 270px;
        transform: rotate(45deg);
        top: 248px;
        left: 1290px;
    }
}
@media (min-width: 1715px) {
    .hr_el12_top_right {
        width: 200px;
        transform: rotate(-45deg);
        top: 400px;
        left: 870px;
    }

    .hr_el15_medium {
        width: 280px;
        transform: rotate(15deg);
        top: 300px;
        left: 1225px;
    }

}
@media (min-width: 1720px) {
    .hr_el12_medium {
        width: 250px;
        transform: rotate(20deg);
        top: 530px;
        left: 880px;
    }
    .hr_el14_bottom {
        width: 150px;
        transform: rotate(-25deg);
        top: 400px;
        left: 1380px;
    }
    .hr_el15_medium {
        width: 280px;
        transform: rotate(15deg);
        top: 300px;
        left: 1245px;
    }
    .hr_el17_bottom {
        width: 270px;
        transform: rotate(45deg);
        top: 248px;
        left: 1320px;
    }
}
@media (min-width: 1740px) {
    .content{
        grid-template-areas: ' . . . . . book book . license license . . . uchet uchet .  '
            /*2*/ '. print print . . book book . license license . . . . . .  ' /*3*/
        '. print print askue1  .  askue3  . bd bd . b2b b2b  archive archive phone phone '
            /*4*/ 'b2c b2c b2c . askue2 askue3  . bd bd . b2b b2b  archive archive phone phone '
            /*5*/ 'b2c b2c b2c . askue2 email  email . courier_delivery . . . delivery delivery . . '
            /*6*/ '. . . aqua aqua email email .  . . print_kvitantion print_kvitantion . . . . ' ' . . . . . . . . .  . .  . . . . .  '

    }
    .content img {
        width: 80%;
    }
    .hr_el1_top {
        width: 280px;
        transform: rotate(-60deg);
        top: 185px;
        left: 140px;
    }
    .hr_el1_medium {
        top: 310px;
        left: 180px;
        width: 250px;
        transform: rotate(20deg);
    }
    .hr_el1_bottom {
        position: absolute;
        width: 250px;
        transform: rotate(105deg);
        top: 340px;
        left: 70px;
    }
    .hr_el3_top {
        width: 300px;
        transform: rotate(81deg);
        top: 212px;
        left: 225px;
    }
    .hr_el3_medium {
        top: 350px;
        left: 380px;
        width: 300px;
        transform: rotate(0deg);
    }
    .hr_el3_bottom {
        width: 250px;
        background-color: whitesmoke;
        transform: rotate(150deg);
        top: 400px;
        left: 194px;
    }
    .hr_el5_top {
        width: 180px;
        transform: rotate(-45deg);
        top: 400px;
        left: 520px;
    }
    .hr_el5_medium_left {
        width: 350px;
        transform: rotate(170deg);
        top: 480px;
        left: 160px;
    }
    .hr_el5_medium_right {
        width: 250px;
        transform: rotate(30deg);
        top: 530px;
        left: 500px;
    }
    .hr_el5_bottom {
        width: 190px;
        transform: rotate(155deg);
        top: 510px;
        left: 330px;
    }
    .hr_el6_medium_left {
        width: 120px;
        transform: rotate(45deg);
        top: 595px;
        left: 320px;
    }
    .hr_el6_medium_right {
        width: 200px;
        transform: rotate(20deg);
        top: 750px;
        left: 485px;
    }
    .hr_el7_top {
        width: 300px;
        transform: rotate(-50deg);
        top: 460px;
        left: 690px;
    }
    .hr_el7_medium_right {
        width: 130px;
        transform: rotate(173deg);
        top: 600px;
        left: 760px;
    }
    .hr_el7_top_left {
        width: 400px;
        transform: rotate(195deg);
        top: 602px;
        left: 330px;
    }
    .hr_el7_bottom {
        width: 200px;
        transform: rotate(-75deg);
        top: 688px;
        left: 605px;
    }
    .hr_el8_top {
        width: 200px;
        transform: rotate(-75deg);
        top: 250px;
        left: 850px;
    }
    .hr_el8_medium_left {
        width: 200px;
        transform: rotate(-173deg);
        top: 360px;
        left: 700px;
    }
    .hr_el8_medium_right {
        width: 300px;
        transform: rotate(180deg);
        top: 380px;
        left: 900px;
    }
    .hr_el9_top {
        width: 300px;
        transform: rotate(20deg);
        top: 113px;
        left: 342px;
    }
    .hr_el9_medium_left {
        top: 250px;
        left: 380px;
        width: 300px;
        transform: rotate(-34deg);
    }
    .hr_el9_medium_right {
        top: 170px;
        left: 680px;
        width: 250px;
        transform: rotate(2deg);
    }
    .hr_el9_bottom {
        width: 300px;
        transform: rotate(45deg);
        top: 250px;
        left: 650px;

    }
    .hr_el10_top {
        top: 95px;
        left: 850px;
        width: 120px;
        transform: rotate(-85deg);
    }
    .hr_el10_medium_left {
        top: 150px;
        left: 970px;
        width: 540px;
        transform: rotate(2deg);
    }
    .hr_el10_bottom_left {
        top: 265px;
        left: 900px;
        width: 550px;
        transform: rotate(25deg);
    }
    .hr_el10_bottom {
        top: 273px;
        left: 950px;
        width: 250px;
        transform: rotate(45deg);
    }
    .hr_el12_bottom {
        width: 300px;
        transform: rotate(145deg);
        top: 699px;
        left: 650px;
    }
    .hr_el12_medium {
        width: 250px;
        transform: rotate(20deg);
        top: 630px;
        left: 960px;
    }
    .hr_el12_top_left {
        width: 200px;
        transform: rotate(75deg);
        top: 450px;
        left: 820px;
    }
    .hr_el12_top_right {
        width: 350px;
        transform: rotate(-45deg);
        top: 490px;
        left: 880px;
    }
    .hr_el13_top {
        width: 350px;
        transform: rotate(85deg);
        top: 550px;
        left: 1020px;
    }
    .hr_el13_top_right {
        width: 250px;
        transform: rotate(-20deg);
        top: 680px;
        left: 1180px;
    }
    .hr_el14_top {
        width: 300px;
        transform: rotate(45deg);
        top: 500px;
        left: 1130px;
    }
    .hr_el14_bottom {
        width: 350px;
        transform: rotate(-50deg);
        top: 480px;
        left: 1320px;
    }
    .hr_el14_medium {
        width: 250px;
        transform: rotate(85deg);
        top: 480px;
        left: 1280px;
    }
    .hr_el15_medium {
        width: 180px;
        transform: rotate(-15deg);
        top: 370px;
        left: 1405px;
    }
    .hr_el17_top {
        width: 600px;
        transform: rotate(10deg);
        top: 90px;
        left: 910px;
    }
    .hr_el17_medium {
        width: 210px;
        transform: rotate(-45deg);
        top: 300px;
        left: 1310px;
    }
    .hr_el17_bottom {
        width: 230px;
        transform: rotate(50deg);
        top: 248px;
        left: 1420px;
    }
}
@media (min-width: 1815px) {
    .hr_el6_medium_left {
        width: 150px;
        transform: rotate(45deg);
        top: 605px;
        left: 315px;
    }
    .hr_el7_medium_right {
        width: 200px;
        transform: rotate(173deg);
        top: 600px;
        left: 730px;
    }

    .hr_el10_top {
        top: 96px;
        left: 865px;
        width: 120px;
        transform: rotate(-100deg);
    }
    .hr_el10_medium_left {
        top: 150px;
        left: 930px;
        width: 600px;
        transform: rotate(2deg);
    }
    .hr_el12_top_left {
        top: 500px;
        left: 800px;
    }

    .hr_el15_medium {
        width: 230px;
        transform: rotate(-15deg);
        top: 370px;
        left: 1405px;
    }

    .hr_el17_medium {
        width: 210px;
        transform: rotate(-60deg);
        top: 300px;
        left: 1350px;
    }
    .hr_el17_bottom {
        width: 230px;
        transform: rotate(60deg);
        top: 248px;
        left: 1480px;
    }


}
@media (min-width: 1850px){
    .hr_el10_medium_left {
        top: 150px;
        left: 1000px;
        width: 540px;
        transform: rotate(2deg);
    }
    .hr_el10_bottom_left
    {
        top: 265px;
        left: 950px;
        width: 550px;
        transform: rotate(25deg);
    }
    .hr_el14_bottom
    {
        width: 350px;
        transform: rotate(-45deg);
        top: 500px;
        left: 1370px;
    }

}
@media (min-width: 1879px){
    .hr_el5_medium_left
      {
        width: 350px;
        transform: rotate(175deg);
        top: 480px;
        left: 170px;
    }
    .hr_el6_medium_left {
        width: 200px;
        transform: rotate(45deg);
        top: 620px;
        left: 305px;
    }
    .hr_el7_medium_right
    {
        width: 250px;
        transform: rotate(1deg);
        top: 600px;
        left: 760px;
    }
    .hr_el9_top {
        width: 350px;
        transform: rotate(16deg);
        top: 113px;
        left: 342px;
    }
    .hr_el10_bottom {
        top: 273px;
        left: 950px;
        width: 300px;
        transform: rotate(45deg);
    }
    .hr_el12_top_left
    {
        transform: rotate(75deg);
        top: 500px;
        left: 840px;
    }
    .hr_el12_top_right
    {
        width: 350px;
        transform: rotate(-45deg);
        top: 490px;
        left: 910px;
    }

    .hr_el12_bottom
    {
        width: 300px;
        transform: rotate(150deg);
        top: 710px;
        left: 660px;
    }
    .hr_el12_medium {
        width: 250px;
        transform: rotate(20deg);
        top: 670px;
        left: 980px;
    }

    .hr_el14_medium  {
        width: 250px;
        transform: rotate(85deg);
        top: 480px;
        left: 1320px;
    }


}
@media (min-width: 1890px){
    .hr_el17_medium {
        width: 210px;
        transform: rotate(-60deg);
        top: 300px;
        left: 1390px;
    }
    .hr_el15_medium {
        width: 300px;
        transform: rotate(0deg);
        top: 370px;
        left: 1405px;
    }
}
@media (min-width: 1900px ) {

    .hr_el9_medium_right {
        top: 170px;
        left: 720px;
        width: 250px;
        transform: rotate(2deg);
    }

    .hr_el10_top {
        top: 96px;
        left: 870px;
        width: 125px;
        transform: rotate(75deg);
    }
    .hr_el10_top_left {
        top: 75px;
        left: 900px;
        width: 100px;
        transform: rotate(50deg);
    }
    .hr_el12_bottom
    {
        width: 340px;
        transform: rotate(150deg);
        top: 700px;
        left: 655px;
    }
    .hr_el13_top {
        width: 350px;
        transform: rotate(85deg);
        top: 550px;
        left: 1050px;
    }
    .hr_el13_top_right {
        width: 250px;
        transform: rotate(-20deg);
        top: 720px;
        left: 1200px;
    }
    .hr_el14_top {
        width: 350px;
        transform: rotate(45deg);
        top: 500px;
        left: 1150px;
    }
    .hr_el15_medium {
        width: 300px;
        transform: rotate(2deg);
        top: 380px;
        left: 1450px;
    }
    .hr_el17_top {
        width: 700px;
        transform: rotate(10deg);
        top: 98px;
        left: 910px;
    }
    .hr_el17_bottom {
        width: 230px;
        transform: rotate(50deg);
        top: 250px;
        left: 1540px;
    }


}
@media (min-width: 1930px){
    .hr_el12_top_right
    {
        width: 350px;
        transform: rotate(-45deg);
        top: 490px;
        left: 960px;
    }
    .hr_el13_top {
        width: 350px;
        transform: rotate(85deg);
        top: 550px;
        left: 1100px;
    }
    .hr_el3_medium {
        top: 350px;
        left: 400px;
        width: 300px;
        transform: rotate(0deg);
    }
    .hr_el8_medium_right {
        width: 300px;
        transform: rotate(180deg);
        top: 400px;
        left: 930px;
    }
    .hr_el10_top {
        top: 96px;
        left: 883px;
        width: 125px;
        transform: rotate(65deg);
    }
    .hr_el10_medium_left {
        top: 150px;
        left: 980px;
        width: 680px;
        transform: rotate(2deg);
    }
    .hr_el14_medium  {
        width: 250px;
        transform: rotate(85deg);
        top: 480px;
        left: 1360px;
    }
    .hr_el14_bottom
    {
        width: 400px;
        transform: rotate(-45deg);
        top: 530px;
        left: 1460px;
    }
    .hr_el17_medium {
        width: 210px;
        transform: rotate(-60deg);
        top: 300px;
        left: 1410px;
    }
}
@media (min-width: 1940px ) {
    .hr_el5_top {
        width: 180px;
        transform: rotate(-45deg);
        top: 400px;
        left: 580px;
    }
    .hr_el5_bottom {
        width: 220px;
        transform: rotate(165deg);
        top: 522px;
        left: 332px;
    }
    .hr_el5_medium_left
    {
        width: 380px;
        transform: rotate(180deg);
        top: 490px;
        left: 170px;
    }
    .hr_el5_medium_right {
          width: 250px;
          transform: rotate(30deg);
          top: 580px;
          left: 560px;
      }
    .hr_el6_medium_right {
        width: 200px;
        transform: rotate(20deg);
        top: 850px;
        left: 485px;
    }
    .hr_el7_top {
        width: 300px;
        transform: rotate(-50deg);
        top: 500px;
        left: 710px;
    }
    .hr_el7_bottom {
        width: 300px;
        transform: rotate(-75deg);
        top: 735px;
        left: 570px;
    }
    .hr_el8_medium_left {
        width: 300px;
        transform: rotate(-173deg);
        top: 390px;
        left: 700px;
    }
    .hr_el8_medium_right {
        width: 400px;
        transform: rotate(180deg);
        top: 400px;
        left: 960px;
    }
    .hr_el9_medium_right {
        top: 170px;
        left: 720px;
        width: 350px;
        transform: rotate(2deg);
    }
    .hr_el13_top {
        width: 350px;
        transform: rotate(85deg);
        top: 550px;
        left: 1120px;
    }
    .hr_el8_top {
        width: 200px;
        transform: rotate(-75deg);
        top: 250px;
        left: 900px;
    }
    .hr_el9_medium_left {
        top: 280px;
        left: 370px;
        width: 400px;
        transform: rotate(-34deg);
    }
    .hr_el9_bottom {
        width: 400px;
        transform: rotate(45deg);
        top: 280px;
        left: 650px;
    }
    .hr_el10_top {
        top: 101px;
        left: 880px;
        width: 150px;
        transform: rotate(60deg);
    }
    .hr_el10_top_left {
        top: 85px;
        left: 900px;
        width: 150px;
        transform: rotate(40deg);
    }
    .hr_el10_medium_left {
        top: 150px;
        left: 1020px;
        width: 680px;
        transform: rotate(2deg);
    }
    .hr_el10_bottom {
        top: 273px;
        left: 980px;
        width: 360px;
        transform: rotate(45deg);
    }
    .hr_el10_bottom_left
    {
        top: 265px;
        left: 990px;
        width: 570px;
        transform: rotate(25deg);
    }
    .hr_el12_top_left
    {
        transform: rotate(75deg);
        top: 500px;
        left: 900px;
    }
    .hr_el12_top_right
    {
        width: 350px;
        transform: rotate(-45deg);
        top: 490px;
        left: 1000px;
    }
    .hr_el12_medium {
        width: 320px;
        transform: rotate(20deg);
        top: 690px;
        left: 1000px;
    }
    .hr_el12_bottom
    {
        width: 450px;
        transform: rotate(150deg);
        top: 770px;
        left: 650px;
    }
    .hr_el13_top_right {
        width: 250px;
        transform: rotate(-20deg);
        top: 720px;
        left: 1300px;
    }
    .hr_el14_top {
        width: 350px;
        transform: rotate(45deg);
        top: 550px;
        left: 1230px;
    }
    .hr_el14_medium  {
        width: 250px;
        transform: rotate(85deg);
        top: 480px;
        left: 1400px;
    }
    .hr_el15_medium {
        width: 300px;
        transform: rotate(2deg);
        top: 400px;
        left: 1520px;
    }
    .hr_el17_medium {
        width: 210px;
        transform: rotate(-60deg);
        top: 300px;
        left: 1470px;
    }
    .hr_el17_bottom {
        width: 230px;
        transform: rotate(50deg);
        top: 250px;
        left: 1580px;
    }
}
@media (min-width: 2005px) {
    .hr_el6_medium_left {
        width: 220px;
        transform: rotate(60deg);
        top: 645px;
        left: 280px;
    }
    .hr_el14_medium  {
        width: 250px;
        transform: rotate(85deg);
        top: 500px;
        left: 1440px;
    }
    .hr_el17_medium {
        width: 210px;
        transform: rotate(-60deg);
        top: 300px;
        left: 1500px;
    }
    .hr_el17_bottom {
        width: 230px;
        transform: rotate(50deg);
        top: 250px;
        left: 1620px;
    }
}
@media (min-width: 2040px) {
    .hr_el10_top {
        top: 101px;
        left: 965px;
        width: 150px;
        transform: rotate(60deg);
    }
    .hr_el10_top_left {
        top: 85px;
        left: 985px;
        width: 150px;
        transform: rotate(40deg);
    }
    .hr_el10_medium_left {
        top: 150px;
        left: 1100px;
        width: 680px;
        transform: rotate(2deg);
    }
    .hr_el10_bottom_left
    {
        top: 265px;
        left: 1050px;
        width: 570px;
        transform: rotate(25deg);
    }
    .hr_el17_top {
        width: 700px;
        transform: rotate(10deg);
        top: 98px;
        left: 1000px;
    }
}
@media (min-width: 2050px){
    .hr_el1_bottom {
        position: absolute;
        width: 250px;
        transform: rotate(105deg);
        top: 380px;
        left: 70px;
    }
    .hr_el3_top {
        width: 300px;
        transform: rotate(71deg);
        top: 210px;
        left: 250px;
    }
    .hr_el3_medium {
        top: 380px;
        left: 400px;
        width: 300px;
        transform: rotate(2deg);
    }
    .hr_el3_bottom {
        width: 300px;
        background-color: whitesmoke;
        transform: rotate(150deg);
        top: 450px;
        left: 180px;
    }
    .hr_el5_top {
        width: 180px;
        transform: rotate(-45deg);
        top: 440px;
        left: 580px;
    }
    .hr_el7_bottom {
        width: 300px;
        transform: rotate(-60deg);
        top: 755px;
        left: 605px;
    }
    .hr_el7_top {
        width: 400px;
        transform: rotate(-50deg);
        top: 520px;
        left: 710px;
    }
    .hr_el8_top {
        width: 300px;
        transform: rotate(-75deg);
        top: 250px;
        left: 950px;
    }
    .hr_el7_medium_right
    {
        width: 350px;
        transform: rotate(1deg);
        top: 650px;
        left: 760px;
    }
    .hr_el10_bottom_left
    {
        top: 265px;
        left: 1060px;
        width: 600px;
        transform: rotate(25deg);
    }
    .hr_el10_bottom {
        top: 273px;
        left: 1050px;
        width: 360px;
        transform: rotate(45deg);
    }
    .hr_el12_medium {
        width: 400px;
        transform: rotate(20deg);
        top: 740px;
        left: 1030px;
    }
    .hr_el12_top_right
    {
        width: 400px;
        transform: rotate(-45deg);
        top: 550px;
        left: 1000px;
    }
    .hr_el13_top_right {
        width: 300px;
        transform: rotate(-20deg);
        top: 780px;
        left: 1300px;
    }
    .hr_el14_top {
        width: 350px;
        transform: rotate(45deg);
        top: 550px;
        left: 1300px;
    }
    .hr_el14_medium  {
        width: 250px;
        transform: rotate(85deg);
        top: 530px;
        left: 1530px;
    }
    .hr_el14_bottom
    {
        width: 400px;
        transform: rotate(-45deg);
        top: 600px;
        left: 1550px;
    }
    .hr_el15_medium {
        width: 300px;
        transform: rotate(2deg);
        top: 430px;
        left: 1600px;
    }
    .hr_el17_medium {
        width: 210px;
        transform: rotate(-60deg);
        top: 300px;
        left: 1600px;
    }
    .hr_el17_bottom {
        width: 300px;
        transform: rotate(50deg);
        top: 250px;
        left: 1650px;
    }
    .hr_el13_top {
        width: 450px;
        transform: rotate(85deg);
        top: 600px;
        left: 1150px;
    }
    .hr_el12_top_left
    {
        transform: rotate(75deg);
        top: 520px;
        left: 900px;
        width: 300px;
    }
}
@media (min-width: 2149px){
    .hr_el3_medium {
        top: 380px;
        left: 450px;
        width: 300px;
        transform: rotate(2deg);
    }
    .hr_el5_bottom {
        width: 250px;
        transform: rotate(145deg);
        top: 580px;
        left: 370px;
    }
    .hr_el5_medium_left
    {
        width: 400px;
        transform: rotate(180deg);
        top: 540px;
        left: 170px;
    }
    .hr_el5_medium_right {
        width: 250px;
        transform: rotate(30deg);
        top: 590px;
        left: 560px;
    }
    .hr_el6_medium_left {
        width: 180px;
        transform: rotate(60deg);
        top: 730px;
        left: 348px;
    }
    .hr_el7_top_left {
        width: 400px;
        transform: rotate(185deg);
        top: 667px;
        left: 390px;
    }
    .hr_el2_bottom {
        width: 200px;
        transform: rotate(30deg);
        top: 600px;
        left: 207px;
    }
    .hr_el9_top {
        width: 450px;
        transform: rotate(16deg);
        top: 125px;
        left: 340px;
    }
    .hr_el8_medium_left {
        width: 300px;
        transform: rotate(-173deg);
        top: 390px;
        left: 770px;
    }
    .hr_el9_bottom {
        width: 400px;
        transform: rotate(45deg);
        top: 320px;
        left: 750px;
    }
    .hr_el8_medium_right {
        width: 400px;
        transform: rotate(180deg);
        top: 420px;
        left: 1050px;
    }
    .hr_el12_top_right
    {
        width: 400px;
        transform: rotate(-45deg);
        top: 510px;
        left: 1060px;
    }
    .hr_el12_bottom
    {
        width: 450px;
        transform: rotate(155deg);
        top: 790px;
        left: 655px;
    }
    .hr_el12_medium {
        width: 400px;
        transform: rotate(20deg);
        top: 740px;
        left: 1100px;
    }
    .hr_el13_top {
        width: 450px;
        transform: rotate(85deg);
        top: 600px;
        left: 1180px;
    }
    .hr_el13_top_right {
        width: 380px;
        transform: rotate(-20deg);
        top: 790px;
        left: 1380px;
    }
    .hr_el14_top {
        width: 400px;
        transform: rotate(45deg);
        top: 580px;
        left: 1320px;
    }
    .hr_el14_bottom
    {
        width: 420px;
        transform: rotate(-45deg);
        top: 580px;
        left: 1620px;
    }
    .hr_el15_medium {
        width: 300px;
        transform: rotate(2deg);
        top: 430px;
        left: 1640px;
    }
    .hr_el17_bottom {
        width: 300px;
        transform: rotate(50deg);
        top: 300px;
        left: 1720px;
    }
}
@media (min-width: 2220px){

}
@media (max-width: 1000px) {
    .content {
        display: grid;
        width: 100%;
        grid-template-rows: repeat(13, 6.25%);
        grid-template-columns: repeat(8, 12%);
        grid-template-areas: '. . . phone phone . . . .'
        'uchet uchet . . . . . delivery .'
        '. .  archive archive . . . . . '
        /*'. .  archive archive . . . print_kvitantion . '*/
        '. . .  b2b . . . print_kvitantion . '
        '. license . . .  . courier_delivery . . '
        '. . . . bd .  . . .'
        'book book . . . . . email .'
        '. . . askue1  . . . . .'
        '. . . askue1  . askue3 . . .'
        '. . askue2 . . askue3 . aqua .'
        '. . askue2 . . . . aqua .'
        'print . . . . b2c . aqua .';
        'print . . . . b2c . . .';
    }
    .content img {
        width: 7em;
    }
}
@media (min-height: 1330px) {
    .content{
        position: absolute;
        padding-bottom: 25%;
    }
}
