include ../../generalParts/navbar
.info_about_mailing
    p(style="text-align:center;").message= message
    if data.length
        each item in data
            .info_mailing
                p Серийный номер:&nbsp;
                    =item.serial_number
                p &nbsp; ФИО:&nbsp;
                    =item.firstname
                    |&nbsp;
                    =item.lastname
                    |&nbsp;
                    =item.patronymic
                p &nbsp; Откуда:&nbsp;
                    =item.tocity
                p  &nbsp; Куда:&nbsp;
                    =item.wherecity
