include ../../generalParts/navbar
    .info_mailing
        p Серийный номер:&nbsp;
            =item.serial_number
        p &nbsp; Статус:&nbsp;
            =item.status
        p  &nbsp; Дата обновления:&nbsp;
            =item.date
